/*global for background loop*/
html{

	background-image: url(bgalternate.jpg);
	background-position: 0px 0px;
	background-size: repeat-x;

	animation: animatedBackground 60s linear infinite;
}

@keyframes animatedBackground{

	from{background-position: 0 0;}
	to{background-position: 100% 0;}

}


/*classes*/

/*sets up container for displaying sorts*/
.wrapper{

	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 4;
	grid-gap: 100px;
}


/*used to style all sorting backgrounds
  adds a border to the area and sets color/size
*/
.sort{
	position: relative;
    border: 5px ridge #36bdc4;
    height: 300px;
    background-color: rgb(31,126,158);
}


.sortArea{
	width: 98%;
	height: 70%;

	position: relative;
	top: 3px;
	left: 3px;
	border: 5px ridge #c6c3be;
	background: #f4efe8;
}


.slideContainer{

	position: absolute;
	bottom: 10px;
	left: 10%;

}

.slider{
	-webkit-appearance: none;
	appearance: none;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	width: 200px;
	border-radius: 10px;
}

.slider:hover{
	opacity: 1;
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	apperance: none;
	width: 20px;
	height: 20px;
	background: #dd8007;
	border-radius: 10px;
	cursor: pointer;
}

.sliderNumber{
	font-size: 30px;
	position: absolute;
	top: 0px;
	right: 7%;
}

.button{

	background-color: #008CBA;
	border: none;
	color: white;
	bottom: 4px;
	left: 15%;
	position: relative;
	text-align: center;
	text-decoration: none;
	font-size: 16px;

	transition-duration: 0.4s;
	cursor: pointer;


}


.qButton{

	background-color: white;
	color: black;
	border: 2px solid #008CBA;
}

.qButton:hover{
	background-color: #008CBA;
	color: white;
}

.mButton{

	background-color: white;
	color: black;
	border: 2px solid #008CBA;
}

.mButton:hover{
	background-color: #008CBA;
	color: white;
}

.iButton{

	background-color: white;
	color: black;
	border: 2px solid #008CBA;
}

.iButton:hover{
	background-color: #008CBA;
	color: white;
}

.hButton{

	background-color: white;
	color: black;
	border: 2px solid #008CBA;
}

.hButton:hover{
	background-color: #008CBA;
	color: white;
}

.cButton{

	background-color: white;
	color: black;
	border: 2px solid #008CBA;
}

.cButton:hover{
	background-color: #008CBA;
	color: white;
}

.coButton{

	background-color: white;
	color: black;
	border: 2px solid #008CBA;
}

.coButton:hover{
	background-color: #008CBA;
	color: white;
}

.sButton{

	background-color: white;
	color: black;
	border: 2px solid #008CBA;
}

.sButton:hover{
	background-color: #008CBA;
	color: white;
}

.bButton{

	background-color: white;
	color: black;
	border: 2px solid #008CBA;
}

.bButton:hover{
	background-color: #008CBA;
	color: white;
}

/*used to style all text 
  sets their text to white, centers it, adds an outline
*/
.styletext{

	text-align: center;
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 30px;

}




/*sort setup for row/column*/
#quick{
	grid-column: 1;
	grid-row: 1;
}


#merge{
	grid-column: 2;
	grid-row: 1;
}

#insertion{
	grid-column:1;
	grid-row: 2;
}

#heap{
	grid-column:2;
	grid-row: 2;
}

#counting{
	grid-column:1;
	grid-row: 3;
}

#comb{
	grid-column:2;
	grid-row: 3;
}

#shell{
	grid-column:1;
	grid-row: 4;
}

#bucket{
	grid-column:2;
	grid-row: 4;
}

/*title*/
#title{

    font-size: 40px;

}

